@tailwind base;
@tailwind components;
@tailwind utilities;

footer,
section,
.width {
    width: -webkit-fill-available;
}

.bgColor {
    background: #106EBE;
}

.flexClass {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

@media (max-width:640px) {
    .menubar {
        display: inline-flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        right: 0;
        padding-bottom: 1rem;
        background: #106ebe5e;
        height: auto;
        width: 40%;
    }
}

ul li a {
    cursor: pointer;
}
form input {
    z-index: 10;
    background: transparent;
}