@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer,
section,
.width {
    width: -webkit-fill-available;
}

.bgColor {
    background: #106EBE;
}

.flexClass {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

@media (max-width:640px) {
    .menubar {
        display: inline-flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        right: 0;
        padding-bottom: 1rem;
        background: #106ebe5e;
        height: auto;
        width: 40%;
    }
}

ul li a {
    cursor: pointer;
}
.min-h-calc{
    min-height: calc(100vh - 4rem);
}

form input {
    z-index: 10;
    border: 1px solid rgba(167, 159, 159, 0.633);
    background: transparent;
    transition: border-color 0.3s ease;
}

form input:focus {
    outline: none;
    border: 2px solid rgba(167, 159, 159, 0.633);
}